div{
    &#card-header{
        width: 70%;
        margin: auto;
        position: relative;
        background: $white;
        border-radius: 5px;
        padding: 20px 30px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
        @include flex;
        justify-content: flex-end;
        bottom: -30px;

        img{
            &#TaskIlu{
                width: 110px;
                height: auto;
                position: absolute;
                transform-origin: bottom left;
                left: 20px;
                bottom: 0;
            }
        }

        div{
            @include flex;
            flex-direction: column;

            p{
                color: $marine;
            }
        }
    }
}