input{
    &.valid-btn{
        background: $purple;
        border: none;
        padding: 20px;
        border-radius: 8px;
        width: 100%;
        display: block;
        margin: auto;
        color: $white;
    }
}